<!DOCTYPE html>
<html>
<head>
  <title>SharpZones</title>
  <%= stylesheet_link_tag    "sharp_zones/application", :media => "all" %>
  <%= javascript_include_tag "sharp_zones/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
